---
---

@import"{{ site.theme }}";

.page-header{
    color:#ffff;
    background-color:#A067AB;
    background-image:linear-gradient(120deg,#5073B8,#A067AB);
    }

.navbar {
    background-image: linear-gradient(120deg,#5073B8,#A067AB);
}

.navbar a {
    float: right;
    display: block;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
  }

.navbar a:hover {
    text-decoration: underline;
    color: black;
  }
  
::selection {
    color: #fffff8;
    background: rgba(0, 0, 0, 0.85);
  }