---
---

@import"{{ site.theme }}";

.page-header{
    color:#ffff;
    background-color:#A067AB;
    background-image:linear-gradient(120deg,#5073B8,#A067AB);
    }

.navbar {
    background-image: linear-gradient(120deg,#5073B8,#A067AB);
}

.navbar a {
    float: right;
    display: block;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
  }

.navbar a:hover {
    text-decoration: underline;
    color: black;
  }
  
::selection {
    color: #fffff8;
    background: rgba(0, 0, 0, 0.85);
  }

/* Style the navigation menu */
.topnav1 {
  overflow: hidden;
  background-image: linear-gradient(120deg,#5073B8,#A067AB);
  position: relative;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav1 #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav1 a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Style the hamburger menu */
.topnav1 a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/* Add a grey background color on mouse-over */
.topnav1 a:hover {
  background-color: #ddd;
  color: black;
}