<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="shortcut icon" type="image/png" href="../logo/sip_logo.png">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script type="text/javascript" src="js/sroll.js"></script>
  </head>
  <body>

    <header class="page-header" role="banner">
      <nav class="navbar fixed-top navbar-light">
        <a class="navbar-brand" href="#">Fixed top</a>
      </nav>
      <h1 class="project-name">Student Intern Portal (sip)</h1>
    </header>

    <main id="content" class="main-content" role="main">
        <p style="text-align: center;"><a href="internships">Internships</a> | <a href="schools">Summer Programs</a> | <a href="courses">Courses</a> | <a href="ambassador">Ambassador Programs</a> | <a href="hackathons">Hackathons</a> | <a href="experiences">Experiences</a> | <a href="links">Links</a> | <a href="add">Add a Program</a> | <a href="index">Home</a></p>
        {{ content }}
    </main>
  </body>
</html>