<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
        $(window).scroll(function(){
	      $('nav').toggleClass('scrolled', $(this).scrollTop() > 50);
        });
        function myFunction() {
        var x = document.getElementById("myLinks");
        if (x.style.display === "block") {
          x.style.display = "none";
        } else {
          x.style.display = "block";
        }
        }
      </script>
    {% endif %}
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="shortcut icon" href="../logo/sip_logo.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  </head>
  <body>

    <header class="page-header" role="banner">
      <h1 class="project-name">Student Intern Portal (sip)</h1>
    </header>

    <nav class="navbar fixed-top navbar-light">
      <a href="internships">Internships</a>
      <a href="schools">Summer Schools</a>
      <a href="courses">Courses</a>
      <a href="ambassador">Ambassador Programs</a>
    </nav>

    <div class="topnav1">
      <div id="myLinks">
        <a href="internships">Internships</a>
        <a href="schools">Summer Schools</a>
        <a href="courses">Courses</a>
        <a href="ambassador">Ambassador Programs</a>
      </div>
      <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
      </a>
    </div>

    <main id="content" class="main-content" role="main">
      <p style="text-align: center;"><a href="hackathons">Hackathons</a> | <a href="experiences">Experiences</a> | <a href="links">Links</a> | <a href="add">Add a Program</a> | <a href="index">Home</a></p>
        {{ content }}
    </main>
  </body>
</html>